# Django
DJANGO_SECRET_KEY=
HOMEHUB_ENCRYPTION_KEY=
HOMEHUB_ENV=development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOW_ALL_ORIGINS=True
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:5173
DJANGO_TIME_ZONE=Europe/London

# Frontend
VITE_BACKEND_URL=http://localhost:8000
